.UnionAttributesTask {
    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 0.5rem;
    border: 1px solid var(--gray-400);
    padding: 1rem;
}

.UnionAttributesTask label  {
    margin: 0 0.75rem;
    font-size: 0.875rem;
    line-height: 1.225rem;
}

.UnionAttributesTask input {
    background: transparent;
}

.checkboxA {
    display: none;
}

.checkboxLabel{
    display: flex;
    align-items: center;
    letter-spacing: center;
    font-size: 1.225rem;
    color: var(--gray-100);
    cursor: pointer; 
}

.checkboxLabel::before{
    content: '';
    display: block;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    border: 2px solid var(--gray-100);
    border-radius: 4px;
    margin-right: 10px;
    background-color: transparent;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s ease-in-out;
}

.checkboxA:checked + .checkboxLabel::before {
    background-color: var(--purple);
} 