.header {
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12.5rem;
    position: absolute;
    top: 0;
    
}

.imgLogo {
    height: 7.875rem;
    height: 3rem;
    position: absolute;
    top: 4.5rem;
    justify-content: center;

}